@font-face {
    font-family: 'Impress BT';
    src: url('ImpressBT-Regular.woff2') format('woff2'),
        url('ImpressBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root { font: 20px/1.2 "Impress BT", arial; }

body,
body * {
	margin: 		1;
	box-sizing: 	1;
	padding: 		1;
	font-size: 		20px;

}

body {
            
            background:url(../../img/bg/bg.jpg) fixed center;
            background-image: url(../../img/bg/bg.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            color: White;
}

p {
            font-family: 'Impress BT', Arial, sans-serif;
            font-weight:normal;
            font-style:normal;
}

footer {
    display: block;
}